/* a {
    color: red;
    text-decoration: none;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}
a:hover {
    color: green;
    text-decoration: underline;
} */


/* 
a:link {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: rgb(128, 0, 117);
    text-decoration: underline;
}


a:hover {
    color: rgb(0, 217, 255);
    text-decoration: underline;
}

a:active {
    color: rgb(187, 255, 0);
    text-decoration: none;
    font-weight: bold;
} */