.first-section {
    background-color: aqua; /* აქვა ფონი */
    color: red; /* წითელი ტექსტი */
    padding: 20px;
    margin: 10px;
}

/* სტილები მეორე სექციაზე */
.second-section {
    background-color: aqua; /* აქვა ფონი */
    color: green; /* მწვანე ტექსტი */
    padding: 20px;
    margin: 10px;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}